/* IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    background-color: #f9003d;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}
.container_header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.menu_header {
display: flex;
justify-content: space-between;
align-items: center;
width: 590px;
}
.menu_header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}
.btn_menu i {
    display: none;
    color: white;
    font-size: 30px;
}
main {
    margin-top: 64px;
}
.container_banner {
    position: relative;
    height: 600px;
}
.fundo_banner {
    width: 100%;
    height: 100%;   
}
.box_conteudo {
    position: absolute;
    top: 226px;
    left: 120px;
    display:flex;
    flex-direction:column
}
h1 {
    font-size: 45px;
    color: #ffffff;
    font-family: 'Bebas Neue' , cursive;
    text-transform: uppercase;
    width: 500px;
    height: 140px;
    font-weight: 500px;
}
.hr_banner {
    color: #FFAF00;
}
.box_conteudo span {
    color: #F9003d;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin: 30px 0 ;
}
.icone_mouse {
width: 37px;
}
.container_sobre {
    background-color: #080324;
    color: #ffffff;
    height: 900px;
}
.espacamento_sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}
.h2_sobre {
    text-transform: uppercase;
    color: #f9003d;
    font-family: 'Bebas Neur', cursive;
    font-size: 64px;
}
.box_sobre {
    display: flex;
    justify-content: space-between;
}
.box_sobre_textos span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.h3_sobre {
    color: #ffaf00;
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
    width: 557px;
    font-weight: 500;
    margin: 10px 0;
}
.box_sobre_textos p {
    font-family: "open Sans" , sans-serif;
    width: 592px;
    font-size: 18px;
    line-height: 25px;
}
.info {
    background-image: url(./assets_/imagem-fundo-info.png);
}
.container_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 193px;
}
.info h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.box_span {
    border: 1px solid #a259f7;
    height: 100px;
    width: 289px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.box_span span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700px;
    font-size: 28px;
    text-transform: uppercase;
    color: #A259F7;
}
.endereco {
    background-image: url(./assets_/imagem-fundo-endereco.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 515px;
}
.endereco h2 {
    font-family: 'Bebas Neue' , cursive;
    font-size: 64px;
    text-transform: uppercase;
    color: #FFAF00;
    font-weight: 500;
    width: 899px;
    margin-bottom: 10px;
}
.box_endereco { 
    width: 899px;
    height: 203px;
    background-color: #010010;
    border: 2px solid #340b65;
    display: flex;
    align-items: center;
} 
.box_endereco p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-transform: uppercase;
    color: #a259f7;
    width: 435px;
    margin-left: 25px;
}
.box_endereco img { 
    position: absolute;
    top: 1825px;
    right: 300px;
} 
footer {
    background: #f9003d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82px;
}
footer span {
    font-family: 'Open Sans' , sans-serif;
    font-size: 18px;
    color: #ffffff;
}

@media (max-width: 420px) {
    .container {
        width: 80vw;
    }
    .container_header {
        justify-content: flex-start;
        align-items: center;
    }
    .menu_header {
        display: none;
        height: 300px;
        width: 100%;
        padding-left: 10vw;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: unset;
        position: absolute;
        left: 0;
        top: 58px;
        background-color: black;
    }
    .btn_menu i {
        display: inline-block;
    }
    .container_banner {
        display: flex;
        justify-content: center;
        height: 600px;
    }
    .fundo_banner {
        height: 100%;
        width: auto;
    }
    .box_conteudo {
        top: 145px;
        left: 35px;
        align-items: center;
    }
    h1 {
        width: 360px;
        font-size: 62px;
    }
    .hr_banner {
        width: 360px;
        margin: 20px 0;
    }
    .box_conteudo span {
        font-size: 36px;
        margin-top: 10px;
    }
    .icone_mouse {
        width: 45px;
        margin-top: 30px;
    }
    .container_sobre {
        height: auto;
    }
    .espacamento_sobre {
        align-items: center;   
    }
    .h2_sobre {
        font-size: 52px;
        margin: 50px 0;
        font-weight: 400;
    }
    .box_sobre {
        width: 100%;
        flex-direction: column;
    }
    .img_box_sobre {
        width: 80vw;
  
    }
    .box_sobre_textos {
        margin-top: 50px;
    }
    .h3_sobre {
        width: auto;
        font-size: 38px;
        margin: 50px 0;
    }
    .box_sobre_textos p {
        width: auto;
        text-align: justify;
        margin-bottom: 50px;
    }
    .container_info{
        flex-direction: column;
        height: 600px;
        justify-content: space-around;
    }
    .endereco {
        position: unset;
        justify-content: unset;
        height: 750px;
    }
    .endereco h2{
        width: unset;
        font-size: 45px;
        height: 55px;
        margin: 40px;    
    }
    .box_endereco{
        width: 80vw;
        height: unset;
        padding: 50px 40px;
    }
    .endereco img{
        position: unset;
        width: unset;
        padding: 150px 0;
    }    
    .box_endereco img{
        position: absolute;
        top: 2924px;
        right: 52px;
    }
    .box_endereco p{
        margin-left: 0;
        font-size: 26px;
    }
    footer span {
        width: 80vw;
        text-align: center;
    }
}